GtkFrame {
    padding: 5px
}

GtkFrame > GtkLabel{
    font-weight: bold;
}

GtkGrid > GtkGrid{
    border: 5px solid red
}

GtkNotebook tab GtkButton {
    -GtkButton-default-border : 0px;
    -GtkButton-default-outside-border : 0px;
    -GtkButton-inner-border: 0px;
    -GtkWidget-focus-line-width : 0px;
    -GtkWidget-focus-padding : 0px;
    padding: 0px;
    border: none;
    background: none
}
