GtkNotebook  {
    padding-left: 5px
}

GtkNotebook tab GtkButton {
    -GtkButton-default-border : 0px;
    -GtkButton-default-outside-border : 0px;
    -GtkButton-inner-border: 0px;
    -GtkWidget-focus-line-width : 0px;
    -GtkWidget-focus-padding : 0px;
    padding: 0px;
    border: none;
    background: none
}
GtkNotebook tab .has-changes{
    color: red
}

GtkLabel.headline{
    font-weight: bold
}

.about-window .content GtkLabel,
.about-window .content GtkImage{
    padding-bottom: 5px 
}

.about-window .content .logo{
    padding-bottom: 15px 
}
